game/files/auto-message.txt
game/files/border.txt
game/files/tavern/*.txt
game/files/user
game/files/winners.txt
game/users/.*
game/users/arguments.json
game/users/callers.json
game/users/dankdomain.sql*
