**/node_modules/**
build/*.js
build/**/*.js.map
build/door/*.js
build/door/static/images
build/door/static/sounds
build/door/static/bundle.js
build/tty/*.js
build/etc/ipstack.key
build/etc/network.json
build/etc/smtp.json
build/files/auto-message.txt
build/files/border.txt
build/files/tavern
build/files/user
build/files/winners.txt
build/users/.*
build/users/arguments.json
build/users/callers.json
build/users/dankdomain.sql
package-lock.json
