**/*.js
**/*.map
**/node_modules/**
**/tsconfig.tsbuildinfo
build/door/static/images
build/door/static/sounds
build/etc/ipstack.key
build/etc/network.json
build/etc/smtp.json
build/files/tavern/*.txt
build/files/user
build/users
