**/*.js
**/*.map
**/*.pem
**/node_modules/**
**/tsconfig.tsbuildinfo
game/portal/static/images/*
game/portal/static/sounds/*
game/etc/ipstack.key
game/etc/network.json
game/etc/smtp.json
game/files/tavern/*.txt
game/files/user/*
game/users/*
!bundle.js
!readme.txt
!sw.js
