[Unit]
Description=Ɗaɳƙ Ɗoɱaiɳ portal service
After=local-fs.target network-online.target

[Service]
Type=simple
User=nobody
WorkingDirectory=/usr/games/dankdomain
Environment=TERM=xterm-256color
ExecStart=/usr/bin/node game/portal/app
KillMode=process
Restart=on-failure
RestartSec=2s
StartLimitIntervalSec=120
StartLimitBurst=3
SyslogIdentifier=DDnet
TasksMax=200

[Install]
WantedBy=multi-user.target
